ul {
	list-style: none;
}

li {
	display: inline-block;
	margin: 5px;
}

img {
	width: 200px;
	height: auto;
}

/*
div img {
	position: relative;
}

.overlay {
	position: absolute;
	opacity: 0.5;
	z-index: 10;
}*/